<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/img/logo.png" alt="logo">
            <img src="assets/img/logo2.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><span class="nav-link" (click)="onClick('home')">Home</span></li>
                <li class="nav-item"><span class="nav-link" (click)="onClick('about')">About Us</span></li>
                <li class="nav-item"><span class="nav-link" (click)="onClick('services')">Services</span></li>
                <li class="nav-item"><span class="nav-link" (click)="onClick('portfolio')">Portfolio</span></li>
                <li class="nav-item"><span class="nav-link" (click)="onClick('team')">Team</span></li>
                <li class="nav-item"><span class="nav-link" (click)="onClick('pricing')">Pricing</span></li>
                <li class="nav-item"><span class="nav-link" (click)="onClick('testimonial')">Testimonial</span></li>
                <li class="nav-item"><span class="nav-link" (click)="onClick('blog')">Blog</span></li>
                <li class="nav-item"><span class="nav-link" (click)="onClick('contact')">Contact</span></li>
            </ul>
        </div>
    </div>
</nav>